<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{},~{::style},~{})">
    <title>用户中心</title>

    <style>
        .title_userCenter{
            font-size: 24px;
            color: #151E1E;
            font-weight: bold;
        }

        .base_info{
            margin: 10px;
            color: #838e90;
        }

    </style>
</head>
<body>

<nav th:replace="common/common_header :: menu_zb"></nav>

<div class="container">
    <div class="panel panel-default">
        <div class="title_userCenter" style="margin-left: 5px;">个人中心</div>
        <div style="text-align: right; margin-right: 10px;">
            <a href="#" target="_blank">实名认证</a>
            手机：<span style="color:green;font-weight: bold">已经认证</span>
        </div>
    </div>

    <div class="row">
        <div th:replace="common/content :: userCenterMenu"></div>

        <div class="col-md-9">
            <div id="div001">
                <div th:replace="/user/user_content :: userBasic" ></div>
            </div>
        </div>

    </div>
</div>
</body>

<!--<script th:replace="/user/user_content :: userBasicScript"></script>-->

<script th:src="@{/scripts/user.js}" type="text/javascript"></script>

</html>
