<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{},~{::style},~{})">
    <title>用户中心</title>

    <style>
        .title_userCenter{
            font-size: 24px;
            color: #151E1E;
            font-weight: bold;
        }

        .base_info{
            margin: 10px;
        }

    </style>
</head>
<body>

<nav th:replace="common/common_header :: menu_zb"></nav>

<div class="container">
    <div class="panel panel-default">
        <div class="title_userCenter" style="margin-left: 5px;">个人中心</div>
        <div style="text-align: right; margin-right: 10px;">
            <a href="#" target="_blank">实名认证</a>
            手机：<span style="color:green;font-weight: bold">已经认证</span>
        </div>
    </div>

    <div class="row">
        <div th:replace="common/content :: userCenterMenu"></div>


        <div class="col-md-9">
            <div id="div001" th:fragment="div001">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6" style="font-weight: bold">基本信息</div>
                            <div class="col-md-6" style="text-align: right" id="userEdit"><a>编辑</a></div>
                        </div>
                    </div>
                    <div class="panel-body" style="padding-left: 10px;">
                        <div class="base_info">昵称: <span th:text="${user.nickname}"></span></div>
                        <div class="base_info">年龄: <span th:text="${user.age}"></span></div>
                        <div class="base_info">手机: <span th:text="${user.mobile}"></span></div>
                        <div class="base_info">邮箱: <span th:text="${user.email}"></span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

<script type="text/javascript" th:inline="javascript">
    jQuery(document).ready(function () {

        $("#userBasicIc").click(
            function(){
                $.ajax({
                    url: "/user/userInfo",
                    success: function (result) {
                        $("#div001").html(result);
                        $("#userEdit").click(
                            function () {
                                userEdit();
                            }
                        );
                    }
                })

            }
        );


        $("#userEdit").click(
            function(){
                userEdit();
            }
        );


        function userEdit() {
            $.ajax({
                url: "/user/userEdit",
                success: function (result) {
                    $("#div001").html(result);
                }
            })
        }


    });


</script>

</html>
