<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>需求详情</title>

    <style>
        .borderstyle01{
            background-color: beige;
			width: 500px;
			border-style:double;
			
        }

    </style>

</head>
<body>

    <div class="borderstyle01">

        <div>
            <span th:text="${requirement.subjectDesc}"></span>
            <span th:text="${requirement.price}"></span>
        </div>
        <div>
            <span>项目类型:
                <span th:text="${requirement.projectTypeStr}"></span>
            </span>
            <span>需求类型:
                <span th:text="${requirement.requirementTypeStr}"></span>
            </span>
            <span>周期:
                <span th:text="${requirement.cycle}"></span>
            </span>
        </div>
        <div>
            <span th:text="${requirement.userId}"></span>
            <span>发布于:
                <span th:text="${requirement.createTime}"></span>
            </span>
            <span>状态:
                <span th:text="${requirement.status}"></span>
            </span>
            <span>技能要求:
                <span th:text="${requirement.skills}"></span>
            </span>
        </div>

    </div>

    <br/>

    <div class="borderstyle01">
        <div>
            <div>需求描述:</div>
            <textarea th:text="${requirement.requirementDesc}"></textarea>
        </div>

         <div>附件:
            <a href="https://zb.oschina.net/file/get?path=group1/M00/09/ED/wKgBDVvNjTWAQSbHAAL9GovZzng12.jpeg&amp;name=WechatIMG421.jpeg"><span>WechatIMG421.jpeg</span></a>
        </div>

    </div>

    <br/>

    <div class="borderstyle01">
        <div>
           报名列表
        </div>

        <div>
            <span th:each="user : ${requirement.signUpList}">
                <a th:href="@{/user/queryById(id=${user.id})}" target="_blank">
                    <span th:text="${user.nickname}"></span>
                </a> &nbsp;&nbsp;
            </span>
        </div>

    </div>

</body>
</html>
