<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rollean.zb.dal.mapper.TbUserMapper">
  <resultMap id="BaseResultMap" type="com.rollean.zb.dal.model.TbUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="AGE" jdbcType="INTEGER" property="age" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="GENDER" jdbcType="INTEGER" property="gender" />
  </resultMap>
</mapper>