<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rollean.zb.dal.mapper.TbUserMapper">
  <resultMap id="BaseResultMap" type="com.rollean.zb.dal.model.TbUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="AGE" jdbcType="INTEGER" property="age" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="GENDER" jdbcType="INTEGER" property="gender" />
  </resultMap>

<select id="queryByReqId" resultMap="BaseResultMap">

    select t1.* from tb_user t1,
              tb_sign_up_list t2,
              tb_requirement t3
        where t1.ID = t2.USER_ID
        and t3.ID = t2.REQUIREMENT_ID
        AND t3.ID = #{id,jdbcType=INTEGER}

</select>


    <select id="loginQuery" resultType="com.rollean.zb.dal.model.TbUser">

        SELECT * from tb_user
        where pwd = #{userPassword}
        and (
        mobile = #{loginName}
        or
        email = #{loginName}
        )

    </select>

</mapper>