<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{},~{::style},~{})">
    <title>登陆</title>

    <style>
        form>div{
            margin: 10px;
        }

        .formError{
            color: #bc211f;
        }

    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <div class="panel panel-default" style="margin-top: 100px; width: 400px;">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="text-align: center">登陆</h4>
                    </div>

                    <div class="panel-body" style="text-align: center;">
                        <form role="form" id="loginForm" th:action="@{/home/login}">
                            <div>
                                <input type="text" class="form-control" id="userName" name="userName" placeholder="邮箱或手机号" >
                            </div>
                            <div>
                                <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="请输入密码" >
                            </div>

                            <div>
                                <button type="button" id="loginSubmit" class="btn btn-primary">登陆</button>
                                <button type="button" id="regSubmit" class="btn btn-primary">注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>

<script type="text/javascript" th:inline="javascript">


    $.validator.addMethod( "mobileOrEmail", function( valueTmp  ) {
        return  valueTmp.match( /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/ ) || valueTmp.match( /^1[34578]\d{9}$/ );
    }, "请输入正确的手机号或邮箱" );

    jQuery(document).ready(function () {


        $("#loginForm").validate(
            {

                rules:{
                    userName:{
                        required:true,
                        mobileOrEmail:true
                    },

                    userPassword:{
                        required:true,
                        rangelength:[6,12]
                    }

                },

                messages:{
                    userName:{
                        required:"请输入手机或邮箱",
                    },
                    userPassword:{
                        required:"请输入密码",
                        rangelength:"最小长度6,最大长度12!",
                    }
                },

                onfocusout:true,

                errorClass:"formError"

            }
        );


        $("#loginSubmit").click(
            function(){
//                alert('登陆请求');
                $("#loginForm").submit();
            }

        );

        $("#regSubmit").click(
            function(){
                $(window).attr('location','/home/registerHome')
            }
        );

    })

</script>

</html>