<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'==>name: ' + ${user.nickname} + '!'" />
    <p th:text="'==>age: ' + ${user.age} + '!'" />
    <p th:text="'==mobile: ' + ${user.mobile} + '!'" />
    <p th:text="'==email: ' + ${user.email} + '!'" />
    <p th:text="'==pwd: ' + ${user.pwd} + '!'" />
    <p th:text="'==gender: ' + ${user.gender} + '!'" />

</body>
</html>
