<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>


<div th:fragment="ProcessGuidance" class="panel panel-default" >
    <div class="panel-heading">
        竞标流程指引
    </div>

    <div style="padding: 10px">
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">1</span>
            理解需求、提交竞标方案
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">2</span>
            绑定手机关注中标通知提醒
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">3</span>
            收到中标合同并确认
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">4</span>
            按照实施阶段计划开展实施
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">5</span>
            完成项目，双方互评
        </div>
    </div>
</div>


<div th:fragment="RaiseWinningRate" class="panel panel-default">
    <div class="panel-heading">
        提升中标率
    </div>

    <div style="padding: 10px">
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">1</span>
            完善您的相关信息，尤其是技术能力与专业经验
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">2</span>
            认真详细阅读理解项目需求，认真详细填写竞标方案与您的竞标优势
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">3</span>
            我们拒绝恶意报价，一份真实且具有竞争力的报价无疑可以让您更容易中标
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">4</span>
            积极响应与发包方的沟通交流，体现良好的职业素养及专业能力
        </div>
        <div style="padding: 3px">
            <span class="badge" style="background-color: #46b8da">5</span>
            维护并保持您在平台的综合评价及信用等级良好
        </div>
    </div>

</div>


<div th:fragment="userCenterMenu" class="col-md-3">
    <div class="panel panel-default" style="padding-left: 10px; padding-right: 10px;">
        <ul class="nav nav-stacked">
            <li><a id="userBasicIc" href="#">基本信息</a></li>
            <li><a href="#">技能信息</a></li>
            <li><a href="#">项目案例</a></li>
            <li><a href="#">实名认证</a></li>
            <li><a href="#">帐号绑定</a></li>
        </ul>
    </div>
</div>

</html>
